<ion-view view-title="Reserve">
	<ion-content class="padding">
	
	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label">
				Device Type
			</div>
		<select name="devicetype" ng-model="newReservation.deviceType">
			<option ng-repeat="type in types" value="{{type}}">{{type}}</option> <!-- ToDO: first letter capatalize -->
		</select>
	</label>
	</div>
	<div class="list" ng-show="newReservation.deviceType != undefined">
		<label class="item item-input item-select">
			<div class="input-label">
				Device
			</div>
		<select name="actualdevice" ng-model="newReservation.actualDevice"
			ng-options="device.name for device in devices">

			<!--<option ng-repeat="device in devices" value="{{ device.id }}">{{ device.name }}</option>-->
		</select>
	</label>
	</div>
	<div>{{newReservation.actualDevice}}</div>
  </ion-content>
</ion-view>
