<ion-view view-title="Reserve">
	<ion-content class="padding">
	
	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label">
				Device Type
			</div>
		<select name="devicetype" ng-model="deviceType">
			<option ng-repeat="type in types" value="{{type}}">{{type}}</option> <!-- ToDO: first letter capatalize -->
		</select>
	</label>
	</div>
	<div class="list" ng-show="deviceType != undefined">
		<label class="item item-input item-select">
			<div class="input-label">
				Device
			</div>
		<select name="actualdevice" ng-model="newReservation.actualDevice"
			ng-options="device.name for device in devices">
		</select>
	</label>
	</div>
	<div class="list" ng-show="deviceType != undefined">
		<label class="item item-input">
			<span class="input-label">Start</span>
			<input type="date" min="{{now}}" ng-model="newReservation.startDate" ng-change="startFilled()">
		</label>
	</div>
	<div class="list" ng-show="deviceType != undefined">
		<label class="item item-input">
			<span class="input-label">End</span>
			<input type="date" min="{{mindate}}" ng-model="newReservation.endDate">
		</label>
	</div>
	<div class="list" ng-show="newReservation.endDate != undefined && deviceType != undefined && newReservation.actualDevice != undefined && newReservation.startDate != undefined">
		<button class="button button-positive" ng-click="saveReservation()">Save</button>
	</div>
  </ion-content>
</ion-view>
