<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Services</div>
      <div class="item item-body">
			<div class="list">
				<a class="item item-icon-left item-icon-right" href="#/tab/reserve/{{service.service}}" ng-repeat="service in services">
					<i class="icon ion-{{service.service}}"></i>
					Reservation {{service.service}}
					<i class="icon" ng-class="{'ion-checkmark-round icon-green': service.availability , 'ion-close-round icon-red': !service.availability} "></i>
				</a>
			</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">News</div>
      <div class="item item-body">
        <div class="list">
				<a class="item item-icon-left" href="#" ng-repeat="newsItem in news">
					<i class="icon ion-information-circled"></i>
					<p>{{ newsItem.title }}</p> 
					<p>{{ newsItem.text }}</p>
					<span class="item-note">{{ newsItem.startdate | date}}</span>
				</a>
			</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Reservations</div>
      <div class="item item-body">
        <div class="list">
				<a class="item item-icon-left" href="#/tab/dash/reservations">
					<i class="icon ion-arrow-right-b"></i>
					Current reservations
					<span class="badge badge-balanced">{{reservations.current.length}}</span>
				</a>
				<a class="item item-icon-left" href="#">
					<i class="icon ion-arrow-left-b"></i>
					Passed reservations
					<span class="badge badge-assertive">{{reservations.passed.length}}</span>
				</a>
			</div>
      </div>
    </div>
  </ion-content>
</ion-view>