<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Services</div>
      <div class="item item-body">
			<div class="list">
				<a class="item item-icon-left item-icon-right" href="#" ng-repeat="service in services">
					<i class="icon ion-{{service.service}}"></i>
					Reservation {{service.service}}
					<i class="icon" ng-class="{'ion-checkmark-round icon-green': service.availability , 'ion-close-round icon-red': !service.availability} "></i>
				</a>
				<!--<a class="item item-icon-left item-icon-right" href="#">
					<i class="icon ion-laptop"></i>
					Reservation laptops
					<i class="icon" ng-class="{'ion-checkmark-round icon-green': 'services.reservation laptop' , 'ion-close-round icon-red': !'services.reservation laptop'} "></i>
				</a>
				<a class="item item-icon-left item-icon-right" href="#">
					<i class="icon ion-clipboard"></i>
					Reservation tablets
					<i class="icon" ng-class="{'ion-checkmark-round icon-green': 'services.reservation tablet' , 'ion-close-round icon-red': !'services.reservation tablet'} "></i>
				</a>
				<a class="item item-icon-left item-icon-right" href="#">
					<i class="icon ion-videocamera"></i>
					Reservation photocameras
					<i class="icon" ng-class="{'ion-checkmark-round icon-green': 'services.reservation photocamera' , 'ion-close-round icon-red': !'services.reservation photocamera'} "></i>
				</a>
				<a class="item item-icon-left item-icon-right" href="#">
					<i class="icon ion-clipboard"></i>
					Reservation videocameras
					<i class="icon" ng-class="{'ion-checkmark-round icon-green': 'services.reservation videocamera' , 'ion-close-round icon-red': !'services.reservation videocamera'} "></i>
				</a>
				<a class="item item-icon-left item-icon-right" href="#">
					<i class="icon ion-clipboard"></i>
					Reservation microphones
					<i class="icon" ng-class="{'ion-checkmark-round icon-green': 'services.reservation microphone' , 'ion-close-round icon-red': !'services.reservation microphone'} "></i>
				</a>
				<a class="item item-icon-left item-icon-right" href="#">
					<i class="icon ion-clipboard"></i>
					Reservation study places
					<i class="icon" ng-class="{'ion-checkmark-round icon-green': 'services.reservation studyplace' , 'ion-close-round icon-red': !'services.reservation studyplace'} "></i>
				</a>-->
			</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">News</div>
      <div class="item item-body">
        <div class="list">
				<a class="item item-icon-left" href="#" ng-repeat="newsItem in news">
					<i class="icon ion-information-circled"></i>
					<p>{{ newsItem.title }}</p> 
					<p>{{ newsItem.text }}</p>
					<span class="item-note">{{ newsItem.startdate | date}}</span>
				</a>
			</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Reservations</div>
      <div class="item item-body">
        <div class="list">
				<a class="item item-icon-left" href="#">
					<i class="icon ion-arrow-right-b"></i>
					Current reservations
					<span class="badge badge-balanced">{{reservations.current.length}}</span>
				</a>
				<!--<div ng-repeat="reservation in reservations.current">
					<p>{{ reservation.device }}</p> 
					<p>{{ reservation.start }}</p>
					<p>{{ reservation.end }}</p>
				</div>-->
				<a class="item item-icon-left" href="#">
					<i class="icon ion-arrow-left-b"></i>
					Passed reservations
					<span class="badge badge-assertive">{{reservations.passed.length}}</span>
				</a>
			</div>
      </div>
    </div>
  </ion-content>
</ion-view>
